.restaurants-inner{
	max-width: 1130px;
	margin: 0 auto;
}

.restaurant-item{
	border-top: solid #E5E5E5 1px;
	position: relative;
	height: 80px;
	cursor: pointer;
}

.restaurant-item:hover .restaurant-info{
	color: #000;
}

.restaurant-name{
	font-size: 1.2rem;
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
}

.restaurant-info{
	position: absolute;
	top: 50%;
	right: 20px;
	padding-right: 30px;
	transform: translateY(-50%);
	text-align: right;
	color: #9B9B9B;
	font-size: 0.9rem;
}

.restaurant-info img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.restaurant-price{
	display: none;
}

.restaurant-type{
	display: block;
	padding: 3px 0;
}

@media (min-width: 767px) {
	.restaurants-inner{
		margin-top: 50px;
		padding: 0 20px;
	}

	.restaurant-name{
		left: 0;
	}

	.restaurant-info{
		font-size: 1.2rem;
		right: 0;
		padding-right: 0;
	}

	.restaurant-info img{
		display: none;
	}

	.restaurant-price,
	.restaurant-minutes,
	.restaurant-type{
		display: inline-block;
	}

	.restaurant-price,
	.restaurant-type{
		padding: 0 35px;
	}
}
