.app-header{
	transition: all .4s;
	box-sizing: border-box;
	background: black;
	max-height: 44px;
	border: solid black 1px;
	text-align: center;
	overflow: hidden;
}

.app-header.show-mobile{
	max-height: 500px;
}

.mobile-logo{
	display: inline-block;
	margin: 0 auto;
	margin-top: 14px;
}

.menu-icon{
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	padding: 15px 20px;
}

.app-nav{
	margin: 10px 0;
}

.app-nav a{
	text-transform: uppercase;
	color: white;
	display: block;
	text-decoration: none;
	padding: 10px 0;
}

.app-nav a:hover{
	color: #ccc;
}
