.app-header{
	transition: all .4s;
	box-sizing: border-box;
	background: black;
	max-height: 44px;
	border: solid black 1px;
	text-align: center;
	overflow: hidden;
}

.app-header.show-mobile{
	max-height: 500px;
}

.logo{
	display: inline-block;
	margin: 14px auto 0;
}

.large-logo{
	display: none;
}

.menu-icon{
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	padding: 15px 20px;
}

.app-nav{
	margin: 10px 0;
}

.app-nav a{
	text-transform: uppercase;
	color: white;
	display: block;
	text-decoration: none;
	padding: 10px 0;
	letter-spacing: 1px;
}

.app-nav a:hover{
	color: #ccc;
}

@media (min-width: 767px) {
	.app-header{
		transition: none;
		background: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
		border: 0;
		height: 120px;
		max-height: 120px;
	}

	.inner-header{
		max-width: 1130px;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}

	.menu-icon{
		display: none;
	}

	.logo{
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
		margin: 0;
	}

	.large-logo{
		display: inline-block;
	}

	.small-logo{
		display: none;
	}

	.app-nav{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		margin: 0;
	}

	.app-nav a{
		display: inline-block;
		padding: 0 20px;
	}
}
